<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="estilo.css" media="screen" />
    <title>Cadastro Pet</title>
</head>
<body>
    <img class="img-fluid mx-auto d-block" src="Fotos/Logo.png" class="img-thumbnail" alt="Jiji" width="50%" height="50%"> 
    <div class="container">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Produtos.html">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Cadastro.html">Cadastro</a>
               </li>
             
              <li class="nav-item">
                <a class="nav-link" href="FAQ.html">FAQ</a>
              </li>
              
          </ul>

        
      </nav>
      <h2>Produtos que temos em nossa loja</h2>
      <div class="row" >
        <div class="col-sm text-center" id="adj">
          <img src="Fotos/coleira.png" class="img-thumbnail" width="42%" height="42%">
           <p class=" Nome" >Coleira</p>
          
          <b>R$25,00</b>
          <br>
  </div>

  <div class="col-sm text-center" id="adj">
    <img src="fotos/racao.png" class="img-thumbnail" width="42%" height="42%">
     <p class=" Nome" >Ração Golden - Adultos </p>
            
            <b>R$80,00</b>
            <br>
</div>

<div class="col-sm text-center" id="adj">
  <img src="fotos/vermifugo.png" class="img-thumbnail" width="42%" height="42%">
   <p class=" Nome" >Vermífugo </p>
    
          <b>R$50,00</b>
          <br>
</div>
</div>

<div class='row'>
<div class="col-sm text-center" id="adj">
  <img src="fotos/racao.png" class="img-thumbnail" width="42%" height="42%">
   <p class=" Nome" >Ração Golden - Adultos </p>
          
          <b>R$80,00</b>
          <br>
</div>

<div class="col-sm text-center" id="adj">
  <img src="fotos/Pulgas.png" class="img-thumbnail" width="42%" height="42%">
   <p class=" Nome" >Coleira anti-pulgas</p>
          
          <b>R$70,00</b>
          <br>
</div>

<div class="col-sm text-center" id="adj">
  <img src="fotos/Paulixta.png" class="img-thumbnail" width="42%" height="42%">
   <p class=" Nome" >Roupa de time para cachorro</p>
          
          <b>R$120,00</b>
          <br>
</div>


    </div>
    

    <footer class="mdb-footer">

        <h6>Copyright 2020 - Todos os direitos reservados - Vet Life </h6>
        
            
        </footer>

    
    
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
    
